.reports-container {
  padding: 20px;
  background-color: #007BBA;
  color: #FFFFFF;

  h1 {
    text-align: center;
    margin-bottom: 20px;
  }

  .report-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .report-item {
    background-color: #FFFFFF;
    color: #007BBA;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
      margin: 0;
    }

    .btn-view-report {
      background-color: #CDAA00;
      border: none;
      padding: 10px 15px;
      border-radius: 6px;
      color: #FFFFFF;
      font-weight: bold;
      cursor: pointer;

      &:hover {
        background-color: darken(#CDAA00, 10%);
      }
    }
  }
}
