/* src/app/reports/reports.component.scss */

$primary-color: #f8fc03; // Azul principal de la app
$secondary-color: #D4AF37; // Dorado
$background-color: #0b0375; // Fondo general del componente
$card-bg-color: #ffffff; // Fondo de las tarjetas
$text-color: #333333; // Color de texto principal
$shadow-color: rgba(0, 0, 0, 0.1); // Sombra de las tarjetas
$btn-bg-color: #007BBA; // Fondo del botón de informe
$btn-hover-color: darken($btn-bg-color, 10%); // Color del botón al hacer hover

.reports-container {
  background-color: $background-color;
  padding: 50px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-size: 36px;
    color: $primary-color;
    margin-bottom: 30px;
    text-align: center;
    font-weight: 700;
  }

  .report-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 800px;

    .report-item {
      background-color: $card-bg-color;
      border-radius: 15px;
      box-shadow: 0 4px 8px $shadow-color;
      padding: 30px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      transition: transform 0.3s ease, box-shadow 0.3s ease;
      cursor: pointer;

      &:hover {
        transform: translateY(-5px);
        box-shadow: 0 8px 16px $shadow-color;
      }

      h2 {
        font-size: 24px;
        color: $text-color;
        margin: 0;
      }

      .btn-view-report {
        padding: 10px 20px;
        background-color: $btn-bg-color;
        color: #ffffff;
        border: none;
        border-radius: 8px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s ease, transform 0.3s ease;

        &:hover {
          background-color: $btn-hover-color;
          transform: translateY(-2px);
        }

        &:active {
          transform: translateY(0);
        }
      }
    }
  }
}
