.emotional-status-container {
  padding: 20px;
  text-align: center;
  color: #FFFFFF;
  background-color: #007BBA;

  h1 {
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: bold;
  }

  .emotional-card-container {
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  .emotional-card {
    background-color: #CDAA00;
    border-radius: 8px;
    padding: 20px;
    width: 150px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);

    p {
      font-size: 18px;
      margin: 0;
    }

    span {
      display: block;
      margin-top: 10px;
      font-size: 24px;
      font-weight: bold;
    }
  }
}
