.patient-details-container {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  max-width: 600px;
  margin: 20px auto;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left;

  h1 {
    color: #007BBA;
    font-size: 24px;
  }

  h2 {
    font-size: 20px;
    color: #333;
  }

  p {
    font-size: 16px;
    color: #666;
    margin: 5px 0;
  }

  .btn-back {
    display: block;
    margin: 20px 0;
    padding: 10px 15px;
    background-color: #007BBA;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #005f8e;
    }
  }
}
