/* src/app/patients-list/patients-list.component.scss */
.patients-list-container {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin: 40px auto;
}

.header-title {
  color: #007BBA;
  text-align: center;
  margin-bottom: 30px;
}

.search-bar-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;

  .search-bar {
    width: 80%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    transition: border 0.3s ease;

    &:focus {
      border-color: #007BBA;
      outline: none;
    }
  }
}

.patients-list {
  display: flex;
  flex-direction: column;
}

.patient-card {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin: 10px 0;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    background-color: #e6f2ff;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
  }

  .patient-info {
    flex: 1;
    .patient-name {
      font-size: 18px;
      font-weight: bold;
      color: #333;
    }

    p {
      margin: 5px 0;
      color: #666;
    }
  }

  .patient-actions {
    display: flex;
    align-items: center;
    justify-content: center;

    .btn-details {
      padding: 10px 15px;
      border: none;
      border-radius: 5px;
      background-color: #007BBA;
      color: #ffffff;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #005f8e;
      }
    }
  }
}
